:root {
    --orange: #E76F51;
    --white: #fff;
    --grey: #D2D2D2;
    --app-bg: #FAF4F2;
    --grey-md: #8D8D8D;
    --grey-dark: #3B3735;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: "Roboto Regular", sans-serif;
    background-color: var(--app-bg);

}

.container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

/*
===============
   Components
===============
*/
.btn {
    color: var(--white);
    background-color: var(--grey);
    border-radius: 5rem;
    padding: 1rem 5rem;

}


/*
=============
   HEADER
=============
*/

.header {
    background: linear-gradient(rgba(40, 40, 40, 0.7), rgba(40, 40, 40, 0.3)), url("../images/header-bg.jpg") center/cover no-repeat;
    min-height: 80vh;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0;
}

.menu-wrapper {
    display: flex;
    align-items: center;
}

/*
=============
  App logo
=============
*/

.logo {
    margin-right: 4rem;
}

.logo__img {
    display: block;
}

/*
=============
  Main Menu
=============
*/

.menu {
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;


}

.menu__item {

}

.menu__item--active {
    position: relative;
}

.menu__item--active .menu__link {
    position: relative;
    color: var(--white);
}

.menu__item--active::before {
    position: absolute;
    content: " ";
    width: 4rem;
    height: 0.2rem;
    background-color: var(--orange);
    transform: rotate(-45deg);
    top: 9px;
    left: 0;
    right: 0;
    margin: 0 auto;

}

.menu__link {
    color: #D2D2D2;
    transition: color 100ms ease-in-out;

}

.menu__link:hover {
    color: var(--white);
}

.nav__links {
    display: none;
}

.nav__link {
    font-family: "Roboto Medium", sans-serif;
    color: #D2D2D2;
    margin-left: 3rem;

}

.nav__link--border {
    border: 1px solid white;
    padding: 1rem 2.3rem;
    border-radius: 2rem;
    transition: all 100ms ease-in-out;
}

.nav__link--border:hover {
    color: black;
    background-color: rgba(250, 250, 250, 0.96);
}

/*
===============
  Mobile Menu
===============
*/

.nav-mobile {
    width: 70%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(40, 38, 37, 0.92);
    position: fixed;
    left: -100%;
    bottom: 0;
    top: 0;
    transition: all 200ms ease-in-out;
}

.nav-mobile--open {
    display: block;
    left: 0;
}

.menu-mobile {

}

.nav-mobile__title {
    font-family: "Archivo";
    word-spacing: 0.5rem;
    border-bottom: 0.7px solid white;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
}

.menu-mobile__item {
    margin-bottom: 2rem;

}


.menu-mobile__link {
    list-style: none;
    color: var(--white);
    text-decoration: none;
    position: relative;
    transition: all 200ms ease-in-out;

}

.menu-mobile__link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--orange);
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;

}

/*.menu-mobile__link::before {*/
/*    content: "";*/
/*   */
/*    height: 0rem;*/
/*    left: 0;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    margin: auto;*/
/*    background-color: var(--orange);*/
/*    position: absolute;*/
/*    transform: translateY(100%);*/
/*    transition: all 200ms ease-in-out;*/
/*}*/

.menu-mobile__link:hover {
    padding-left: 2.5rem;
    transition: all 200ms ease-in-out;

}

.menu-mobile__link:hover::before {
    width: 1.8rem;
    transition: all 200ms ease-in-out;

}


.nav-mobile__links {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.nav-mobile__link {
    color: var(--white);
    text-decoration: none;
    padding: .4rem 2rem;
    border-radius: 1.5rem;
    border: 1px solid var(--white);
}

/*
==============
    Nav btn
==============
*/


.nav__btn {
    background-color: var(--white);
    width: 5rem;
    height: 5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav__btn-line {
    display: block;
    position: relative;
    width: 2.4rem;
    background-color: var(--orange);
    height: 0.2rem;
    border-radius: 2.5rem;
    transition: all 100ms ease-in-out;
}

.nav__btn-line::before, .nav__btn-line::after {
    content: " ";
    position: absolute;
    display: block;
    width: 2.4rem;
    background-color: var(--orange);
    height: 0.2rem;
    border-radius: 2rem;
    transition: all 110ms ease;

}

.nav__btn-line::before {
    top: -0.6rem;
}

.nav__btn-line::after {
    top: +0.6rem;

}

.nav__btn--open .nav__btn-line {
    background-color: transparent;
}

.nav__btn--open .nav__btn-line::before {
    transform: translateY(7px) rotate(45deg)


}

.nav__btn--open .nav__btn-line::after {
    transform: translateY(-5px) rotate(-45deg)
}

/*
================
 Header Content
================
*/

.header-content {
    padding: 2rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.header-content__title {
    font-family: Archivo;
    font-size: 5rem;
    margin-bottom: 1rem;
    max-width: 34.5rem;

}

.header-content__caption {
    margin-bottom: 2rem;
    max-width: 30rem;

}

.header-content__link {
    background-color: var(--orange);
}


/*
--- Main ----
*/


main {

}


/*
================
   services
================
*/

.services {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: -15rem -1rem 0;


}

.service {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 26rem;
    flex: 1 1 auto;
    margin: 1rem;
    padding: 0 4rem;
    background-color: var(--white);
    border-radius: 2rem;
    text-align: center;
}


.service__img {
    display: block;
}

.service__title {
    font-family: "Roboto Medium";
    font-size: 1.8rem;
    margin: 2rem 0 1rem 0;
}

.service__caption {

}


/*
================
 Destinations
================
*/
.destinations {

}

.destinations__logo {
    display: block;
    margin: 4rem auto;

}

.destinations__title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}

.destinations__cards {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: -1rem;
    margin-left: -1rem;
}

.destination {
    width: 30rem;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2rem;
    background-color: white;
    padding: 4rem;
    margin: 1rem;
}

.destination__banner {
    width: 100%;
    position: relative;
}

.destination__img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 2rem;

}

.destination__heart-wrapper {
    position: absolute;
    right: 1.3rem;
    top: 1.3rem;
    background-color: white;
    padding: 0.8rem;
    border-radius: 1.4rem;
}

.destination__heart {
    display: block;
    fill: #fff;
    stroke: var(--orange);
}

.destination__heart--filled {
    fill: var(--orange);
}

.destination__price {
    background-color: white;
    color: var(--orange);
    display: block;
    position: absolute;
    bottom: -22px;
    padding: 1.2rem 2rem 1rem 2rem;
    border-radius: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 13rem;
    z-index: 23;
    font-size: 1.5rem;


}

.destination__title {
    margin: 4rem auto 0.5rem auto;
    color: var(--grey-dark);
    font-size: 1.8rem;
    font-family: "Archivo";
}

.destination__summary {
    margin-bottom: 1.5rem;
    color: var(--grey-dark);
}

.destination__btn {
    font-family: "Roboto Medium";
    font-size: 1.6rem;
    margin-top: 1.3rem;
    background-color: rgb(141, 141, 141, .1);
    color: var(--grey-md);
}

.view-all {
    text-align: center;
    margin: 6rem auto;
}

.btn-view-all {
    font-family: "Roboto Medium";
    background-color: transparent;
    border: 2px solid var(--orange);
    color: var(--orange);
}

/*
===============
   Newsletter
===============
*/

.newsletter {
    border-radius: 2rem;
    background-color: #F8E1DB;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    padding: 4rem;
    margin-top: 10rem;

}

.newsletter_banner {
}

.newsletter__img {
    width: 100%;
}

.newsletter__content {

}

.newsletter__title {
    font-family: Archivo;
    font-size: 3rem;
}

.newsletter__caption {
    /*margin: 2rem auto 2rem;*/
    /*max-width: 48rem;*/
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.newsletter__form-wrapper {

}

.newsletter__form {
    background-color: white;
    border-radius: 2rem;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.newsletter__email-icon {

}

.newsletter__input {
    width: 100%;
    height: 7rem;
    border-radius: 2rem;
    border: none;
    padding: 2rem;
    padding-left: 2rem;
    border: none;
    outline: none;

}

.newsletter__submit {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    border-radius: 2rem;
    width: 5rem;
    height: 5rem;
    box-shadow: 0px 10px 34px -6px var(--orange);
    border: none;


}

/*=============
    Footer
==============*/
.footer {
    background-color: #F8E1DB;
}

.footer-wrapper {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    color: #3B3735;
    padding: 5rem 0rem;
    justify-content: space-between;
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
}

.footer-left {
}

.footer-right {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-content {

}

.footer__title {
    font-family: Archivo;
    margin-bottom: 1rem;

}

.footer-content__description {
    margin-bottom: 2rem;
    max-width: 60rem;
}

.footer-app {
    margin: 2rem auto;
}

.footer__link {
    color: #3B3735;
}

.footer__img {

}

.footer__link:hover {
    text-decoration: underline;
}

.footer_right {

}

.footer-column {
    margin: 0 1rem;
}

.footer-list {
}

.footer-list__item {
    margin-bottom: 0.8rem;

}

.footer-copyright {
    font-size: 1.4rem;
    text-align: center;
    padding: 2rem;
}

/*
================
 Media Queries
================
*/


@media screen and (min-width: 576px) {
    .container {
        width: 54rem;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 72rem;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 96rem;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 114rem;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        width: 137rem;
    }
}