@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
    .nav__btn {
        display: none;
    }

    .nav-mobile {
        display: none;
    }

    .menu {
        display: flex;
    }

}

@media screen and (min-width: 992px) {
    .nav__links {
        display: block;
    }

    .menu {
        gap: 2rem;
    }

    .header-content__caption {
        max-width: 44.5rem;
    }

}

@media screen and (min-width: 1200px) {
    .menu {
        gap: 4rem;
    }
}

@media screen and (min-width: 1400px) {
}