@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
    .nav__btn {
        display: none;
    }

    .nav-mobile {
        display: none;
    }

    .menu {
        display: flex;
    }

    .newsletter {
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
    }

    .newsletter__content {
        margin-right: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .nav__links {
        display: block;
    }

    .menu {
        gap: 2rem;
    }

    .header-content__caption {
        max-width: 44.5rem;
    }


    .newsletter__content {
        margin-right: 6rem;
    }

    .footer-wrapper {
        flex-direction: row;
    }

    .footer-left {
        flex-basis: 50%;
    }

}

@media screen and (min-width: 1200px) {
    .menu {
        gap: 4rem;
    }


}

@media screen and (min-width: 1400px) {
    .newsletter__content {
        /*margin-right: 8rem;*/
    }

}